<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumperbot">

  <!-- ros2_control Interface -->
  <ros2_control name="RobotSystem" type="system">

    <!-- Simulation hardware -->
    <xacro:if value="$(arg is_sim)">
      <!-- Humble with Ignition -->
      <xacro:if value="$(arg is_ignition)">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
      </xacro:if>

      <!-- Humble with Gazebo Classic -->
      <xacro:unless value="$(arg is_ignition)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:unless>
    </xacro:if>

    <!-- Real robot hardware -->
    <xacro:unless value="$(arg is_sim)">
      <hardware>
        <plugin>bumperbot_firmware/BumperbotInterface</plugin>
        <param name="port">/dev/ttyACM0</param>
      </hardware>
    </xacro:unless>

    <!-- Wheel joint interfaces -->
    <joint name="wheel_right_joint">
      <command_interface name="velocity">
        <param name="min">-1.0</param>
        <param name="max">1.0</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="wheel_left_joint">
      <command_interface name="velocity">
        <param name="min">-1.0</param>
        <param name="max">1.0</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

  </ros2_control>

</robot>
